.menu-container {
    box-shadow: 0 5px 10px #d5d5d5;
    padding: var(--default-gap);
    display: flex;
    justify-content: space-between;
}

.menu-container .flex-item {
    display: flex;
}

.menu-container .flex-item > *:not(:last-of-type) {
    margin-right: var(--default-gap);
}

.menu-container .menu {
    display: flex;
    flex-direction: row;
}

.menu-container .menu .menu-item:not(:last-of-type) {
    margin-right: var(--default-gap);
}
